.ab{
    width: 90%;
    height: 600px;
    /* border: 2px solid black; */
    margin : auto;
    margin-top: 100px;   
    display: flex;
}

.ab1{
    width: 60%;
    height: 100%;
}

.ab2{
    width: 40%;
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;}   

.ab2 img{
    width: 100%;
    height: 100%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}











